

:root {
  --background: linear-gradient(to right, #ff6e7f, #bfe9ff);
  --font: rgb(53, 53, 53);
  --header-font: 'Sedgwick Ave Display', cursive;
}


.App {
  text-align: center;
}

.bloc-header {
  text-shadow: 3px 3px 5px  #bfe9ff;
  font-family: var(--header-font); 
}

.section {
  padding-left: 200px;
  padding-right: 200px;
}

.home-nav {
  display: flex;
  flex-direction: 'row'; 
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
  line-height: 4em;
}


a {
	text-decoration: none;
	color: var(--font);
  font-size: 1.1em;
  margin: 15px
}

body {
  background: var(--background);
}

.library, .album {
	padding: 35px 100px 0;
  animation: 1s slidefade 1s forwards;
	opacity: 0;
	color: var(--font);
	-webkit-font-smoothing: antialiased;
	z-index: 10;
}

@keyframes slidefade {
  100% {
    opacity: 1;
    margin: 0;
  }
}

@mixin section-padding {
  padding: 10vh 0;
  @media (min-width: 768px) { 
    padding: 20vh 0;
  }
}